.filmChars {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(200, 0, 0, 0.805);
    background: rgba(200, 147, 0, 0.734);
    color: rgb(22, 5, 121);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }
  